<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63352/CurrencyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService"
                contract="ServiceLayer.ICurrencyService" name="BasicHttpBinding_ICurrencyService" />
        </client>
    </system.serviceModel>
</configuration>